<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Confirm Modal</title>
  <link rel="stylesheet" href="../dist/style.css">
</head>
<body>
<div id="app">
  <button @click="confirm">Confirm</button>
  <confirm-dialog/>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/confirm-dialog.umd.js"></script>
<script>
  new Vue({
    el: '#app',
    methods: {
      confirm() {
        this.$dialog.confirm({
          message: 'Are you sure to delete this item permanently?',
          cancelButton: 'Cancel',
          confirmButton: 'Yes'
        }).then(confirmed => {
          console.log('Do somethings', confirmed);
        });
      }
    }
  });
</script>
</body>
</html>
