@import "../utilities/colors";

.shapla-color {

  // Primary Colors
  &--primary {
    color: $primary !important;
  }

  &--on-primary {
    color: $on-primary !important;
  }

  &--primary-bg {
    background-color: $primary !important;
  }

  // Secondary Colors
  &--secondary {
    color: $secondary !important;
  }

  &--on-secondary {
    color: $on-secondary !important;
  }

  &--secondary-bg {
    background-color: $secondary !important;
  }

  // Success Colors
  &--success {
    color: $success !important;
  }

  &--on-success {
    color: $on-success !important;
  }

  &--success-bg {
    background-color: $success !important;
  }

  // Error Colors
  &--error {
    color: $error !important;
  }

  &--on-error {
    color: $on-error !important;
  }

  &--error-bg {
    background-color: $error !important;
  }

  // Surface Colors
  &--surface {
    background-color: $surface !important;
  }

  &--on-surface {
    color: $on-surface !important;
  }

  // Background and Text colors
  &--background {
    background-color: $background !important;
  }

  &--text-primary {
    color: $text-primary !important;
  }

  &--text-secondary {
    color: $text-secondary !important;
  }

  &--text-hint {
    color: $text-hint !important;
  }

  &--text-disabled {
    color: $text-disabled !important;
  }

  &--text-icon {
    color: $text-icon !important;
  }
}
