.shapla-multistep-tab {
	position: relative;

	&:not(.is-current):not(.is-completed) {
		cursor: pointer;
	}

	&.is-current {
	}

	&.is-completed {
	}

	&__outer {
	}

	&__inner {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 0 1rem;
		position: relative;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			padding: 0 !important;
		}
	}

	&:first-child .shapla-multistep-tab__inner {
		padding-left: 0;
	}

	&:last-child .shapla-multistep-tab__inner {
		padding-right: 0;
	}

	&__number-wrapper {
		display: table-cell;
		vertical-align: middle;
		padding-right: 8px;
	}

	&__number {
		background: #fff;
		border: 2px solid #ddd;
		border-radius: 50%;
		color: #999;
		font-weight: bold;
		height: 30px;
		min-width: 30px;
		min-height: 30px;
		text-align: center;
		transition: none;
		width: 30px;

		display: inline-flex;
		justify-content: center;
		align-items: center;

		.is-current &,
		.is-completed & {
			border: none;
			color: #fff;
		}

		.is-current & {
			background-color: #333;
		}

		.is-completed & {
			background: var(--shapla-primary, #E42F57);
		}
	}

	&__number-text {
		.is-completed & {
			display: none;
		}
	}

	&__completed-icon {
		display: none;
		font-size: .75rem;

		.is-completed & {
			display: block;
		}

		&,
		svg {
			fill: currentColor;
			height: 24px;
			width: 24px;
		}
	}

	&__text {
		vertical-align: middle;
		font-size: 14px;
		display: table-cell;
	}

	&:hover {
		.shapla-multistep-tab__number {
			background-color: #333;
			border: none;
			color: #fff;
		}
	}
}