<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>demo text field</title>
    <link rel="stylesheet" href="../dist/text-field.css">
    <style type="text/css">
        html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset,
        legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        #app {
            margin: 30px;
        }
    </style>
</head>
<body>
<div id="app">
    <text-field
            label="Email *"
            help-text="Write a valid email address."
            validation-text="Please enter a valid email"
            :has-error="hasEmailError"
            :has-success="hasEmailSuccess"
            v-model="email"
            @blur="handleBlurEvent"
            @input="handleInputEvent"
    ></text-field>

    <div class="text-field-column">
        <text-field
                v-model="email"
                type="textarea"
                label="Recipient’s Full Name *"
                help-text="*in case of hospital, company or resort, please indicate before street name"
                validation-text="Please enter a valid full name"
        ></text-field>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/text-field.umd.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            email: '',
            hasEmailError: false,
            hasEmailSuccess: false,
        },
        methods: {
            handleBlurEvent(value) {
                if (!this.validateEmail(value)) {
                    this.hasEmailError = true;
                } else {
                    this.hasEmailSuccess = true;
                }
            },
            handleInputEvent(value) {
                this.hasEmailError = false;
            },
            validateEmail(value) {
                var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

                return reg.test(value) !== false;
            }
        }
    });
</script>
</body>
</html>