@import "~shapla-utility-css/src/utilities/colors";
@import "~shapla-utility-css/src/utilities/mixins";

$offset: 187;
$duration: 1.4s;

@keyframes shapla-spinner__container-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes shapla-spinner__circle-colors {
  0% {
    stroke: $primary;
  }
  25% {
    stroke: $error;
  }
  50% {
    stroke: $secondary;
  }
  75% {
    stroke: $success;
  }
  100% {
    stroke: $primary;
  }
}

@keyframes shapla-spinner__circle-dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset / 4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

.shapla-simple-spinner-container,
.shapla-simple-spinner-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shapla-simple-spinner-container {
  --spinner-duration: #{$duration};
  --spinner-offset: #{$offset};
  left: 0;
  top: 0;
  z-index: 999999;

  &.is-fixed {
    height: 100vh;
    position: fixed;
    width: 100vw;
  }

  &.is-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.is-light-theme {
    background: rgba(#fff, 0.75);

    .has-text {
      background: #fff;
      color: rgba(#000, .86);
    }
  }

  &.is-dark-theme {
    background: rgba(#000, 0.75);

    .has-text {
      background: #444;
      color: rgba(#fff, .86);
    }
  }

  .has-text {
    border-radius: 4px;
    padding: 1rem;
    @include shadow-3dp();
  }
}

.shapla-simple-spinner {
  animation: shapla-spinner__container-rotate var(--spinner-duration) linear infinite;
}

.shapla-simple-spinner-text {
  font-family: inherit;
  margin-left: 1rem;
}

.shapla-simple-spinner__circle {
  stroke-dasharray: var(--spinner-offset);
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #{$primary};
  animation: shapla-spinner__circle-dash var(--spinner-duration) ease-in-out infinite,
  shapla-spinner__circle-colors calc(var(--spinner-duration) * 4) ease-in-out infinite;

  &.is-single {
    animation: shapla-spinner__circle-dash var(--spinner-duration) ease-in-out infinite;
  }
}
