@import "~shapla-color-system/src/variables";

.sidenav-customer-profile {
	align-items: center;
	display: flex;
	height: 56px;
	padding: 0 16px;

	background: $primary;
	color: $on-primary;

	&__avatar {
		margin-right: 1rem;

		img {
			border-radius: 32px;
			max-height: 32px;
			width: auto;
		}
	}

	&__name {
		font-size: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.sidenav-menu {
	margin: 16px 0;
	max-height: calc(100vh - (56px + 32px));
	overflow-y: auto;

	.admin-bar & {
		max-height: calc(100vh - (56px + 32px + 32px));
	}
}