@import "~shapla-color-system/src/variables";

.sidenav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	&__item {
	}

	&__link {
		display: flex;
		text-decoration: none;
		color: $text-primary;
		padding: .75rem 1rem;
		align-items: center;

		&:hover {
			background-color: rgba(#000, 0.04);
			color: $text-primary;
		}

		&.is-active {
			background: $primary;
			color: $on-primary;
		}
	}
}