@import "variables";

.shapla-dashboard-sidenav-profile {
	align-items: center;
	display: flex;
	height: $header-height;
	padding: 0 16px;

	&.theme-default {
		border-bottom: 1px solid rgba(#000, 0.12);
	}

	&.theme-primary {
		background: $primary;
		color: $on-primary;
	}

	&.theme-secondary {
		background: $secondary;
		color: $on-secondary;
	}

	&__avatar {
		background: rgba(#000, 0.12);
		border-radius: 16px;
		height: 32px;
		margin-right: 1rem;
		width: 32px;
		flex-shrink: 0;

		img {
			border-radius: 16px;
			height: 32px;
			width: 32px;
		}
	}

	&__name {
		font-size: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.shapla-dashboard-sidenav-menu {
	margin: 16px 0;
	max-height: calc(100vh - (#{$header-height} + 32px));
	overflow-y: auto;

	.admin-bar & {
		max-height: calc(100vh - (#{$header-height} + 32px + 32px));
	}
}