<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>button demo</title>
    <link rel="stylesheet" href="../dist/checkbox.css">
</head>
<body>
<div id="app">
    <div>
        <h4>Single Checkbox</h4>

        <shapla-checkbox v-model="singleCheckbox">Label goes here.</shapla-checkbox>

        <pre><code>{{singleCheckbox}}</code></pre>
    </div>

    <div>
        <h4>Multiple Checkbox</h4>

        <shapla-checkbox v-model="multiCheckbox" value="one">One</shapla-checkbox>
        <shapla-checkbox v-model="multiCheckbox" value="two">Two</shapla-checkbox>
        <shapla-checkbox v-model="multiCheckbox" value="three">Three</shapla-checkbox>

        <pre><code>{{multiCheckbox}}</code></pre>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/checkbox.umd.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            singleCheckbox: false,
            multiCheckbox: []
        }
    });
</script>
</body>
</html>