@import "~shapla-color-system/src/variables";

$dropdown-menu-min-width: 12rem !default;

$dropdown-content-background-color: #ffffff !default;
$dropdown-content-offset: 4px !default;
$dropdown-content-padding-bottom: 0.5rem !default;
$dropdown-content-padding-top: 0.5rem !default;
$dropdown-content-radius: 4px !default;
$dropdown-content-shadow: 0 0.5em 1em -0.125em rgba(#0A0A0A, 0.1), 0 0px 0 1px rgba(#0A0A0A, 0.02) !default;
$dropdown-content-z: 20 !default;

$dropdown-item-color: $text-primary !default;
$dropdown-item-hover-color: $text-primary !default;
$dropdown-item-hover-background-color: #f5f5f5 !default;

$dropdown-item-active-color: $on-primary !default;
$dropdown-item-active-background-color: $primary !default;

$dropdown-divider-background-color: #ededed !default;

.dropdown {
	display: inline-flex;
	position: relative;
	vertical-align: top;

	&.is-active,
	&.is-hoverable:hover {
		.dropdown-menu {
			display: block
		}
	}

	&.is-right {
		.dropdown-menu {
			left: auto;
			right: 0
		}
	}

	&.is-up {
		.dropdown-menu {
			bottom: 100%;
			padding-bottom: $dropdown-content-offset;
			padding-top: 0;
			top: auto
		}
	}
}

.dropdown-menu {
	display: none;
	left: 0;
	min-width: $dropdown-menu-min-width;
	padding-top: $dropdown-content-offset;
	position: absolute;
	top: 100%;
	z-index: $dropdown-content-z;
}

.dropdown-content {
	background-color: $dropdown-content-background-color;
	border-radius: $dropdown-content-radius;
	box-shadow: $dropdown-content-shadow;
	padding-bottom: $dropdown-content-padding-bottom;
	padding-top: $dropdown-content-padding-top;
}

.dropdown-item {
	color: $dropdown-item-color;
	display: block;
	font-size: .875rem;
	line-height: 1.5;
	padding: .375rem 1rem;
	position: relative
}

a.dropdown-item,
button.dropdown-item {
	padding-right: 3rem;
	text-align: left;
	white-space: nowrap;
	width: 100%;

	&:hover,
	&.is-hover {
		background-color: $dropdown-item-hover-background-color;
		color: $dropdown-item-hover-color;
	}

	&:active,
	&.is-active {
		background-color: $dropdown-item-active-background-color;
		color: $dropdown-item-active-color;
	}
}

.dropdown-divider {
	background-color: $dropdown-divider-background-color;
	border: none;
	display: block;
	height: 1px;
	margin: .5rem 0;
}
