<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>side navigation demo</title>
    <link rel="stylesheet" href="../dist/side-navigation.css">
    <style type="text/css">
        html, body, html *, body * {
            box-sizing: border-box;
        }

        html, body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<div id="app" class="shapla-side-navigation-demo">
    <div>
        <div @click.prevent="active = true">
            Left
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                 viewBox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2h-20v-2zM0 9h20v2h-20v-2zM0 15h20v2h-20v-2z"></path>
            </svg>
        </div>
        <div @click.prevent="activeRight = true">
            Right
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                 viewBox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2h-20v-2zM0 9h20v2h-20v-2zM0 15h20v2h-20v-2z"></path>
            </svg>
        </div>

        <side-navigation :active="active" @close="active = false" nav-width="300px">
            <a>Link 1</a>
        </side-navigation>

        <side-navigation :active="activeRight" @close="activeRight = false" position="right" nav-width="300px">
            <a>Link 1</a>
        </side-navigation>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/side-navigation.umd.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            active: false,
            activeRight: false,
        }
    });
</script>
</body>
</html>