@use "shapla-css/src/index.scss" as shapla;

@include shapla.notification;

.shapla-notification-transition-enter,
.shapla-notification-transition-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.shapla-notification-transition-leave-active {
  position: absolute;
}
