//== Grid Columns Gap
$column-gap: 1.5rem !default;

//== Grid breakpoints
$screen-sm: 640px !default;
$screen-md: 768px !default;
$screen-lg: 1024px !default;
$screen-xl: 1280px !default;

//== Grid containers
$container-sm: 540px !default;
$container-md: 720px !default;
$container-lg: 960px !default;
$container-xl: 1140px !default;
