@import "./flexbox/display";
@import "./flexbox/flex";
@import "./flexbox/justify-content";
@import "./flexbox/flex-wrap";
@import "./flexbox/align-items";
@import "./sizing/fluid-width";

.column-gutter-width {
  margin: calc(-1 * var(--column-gutter-width, 0.75rem));

  &:not(:last-child) {
    margin-bottom: calc(1.5rem - var(--column-gutter-width, 0.75rem));
  }

  > * {
    padding: var(--column-gutter-width, 0.75rem);
  }
}
