<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>select field demo</title>
    <link rel="stylesheet" href="../dist/select-field.css">
    <style type="text/css">
        html, body, html *, body * {
            box-sizing: border-box;
        }

        .column {
            padding: 15px;
        }
    </style>
</head>
<body>
<div id="app" class="shapla-select-field-demo">
    <div>
        <div class="columns">
            <div class="column">
                <select-field
                        v-model="option"
                        label="Choose a country"
                        :options="options"
                />
            </div>
            <div class="column">
                <select-field
                        v-model="option2"
                        label="Choose a country"
                        help-text="Help text goes here"
                        :options="options"
                />
            </div>
            <div class="column">
                <select-field
                        v-model="option"
                        label="Choose a country"
                        help-text="Help text goes here"
                        validation-text="Validation text test"
                        :has-error="true"
                        :options="options"
                />
            </div>
            <div class="column">
                <select-field
                        v-model="option"
                        label="Choose a country"
                        help-text="Help text goes here"
                        :has-success="true"
                        :options="options"
                />
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/select-field.umd.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            option: '',
            option2: 'SA',
            options: ['Sayful Islam', 'Saif Al Araf', 'Aklima', 3, true, false, 0, 1,
                {label: 'Sayful', value: 'SA'}],
        }
    });
</script>
</body>
</html>