$screen-xxl-enabled: true;

@import "~shapla-utility-css/src/variables";
@import "~shapla-utility-css/src/mixins";

.shapla-column {
  display: block;
  flex: none;
  padding: $column-gap / 2;

  @for $i from 1 through 12 {
    .shapla-columns.is-mobile > &.is-#{$i} {
      width: percentage($i / 12);
    }
  }

  // Mobile
  @include media('mobile') {
    @for $i from 1 through 12 {
      &.is-#{$i}-mobile {
        width: percentage($i / 12);
      }
    }
  }

  // Tablet
  @include media('tablet') {
    @for $i from 1 through 12 {
      &.is-#{$i},
      &.is-#{$i}-tablet {
        width: percentage($i / 12);
      }
    }
  }

  // Desktop
  @include media('desktop') {
    @for $i from 1 through 12 {
      &.is-#{$i}-desktop {
        width: percentage($i / 12);
      }
    }
  }

  // Wide Screen
  @include media('wide') {
    @for $i from 1 through 12 {
      &.is-#{$i}-widescreen {
        width: percentage($i / 12);
      }
    }
  }

  // Full HD
  @include media('fullhd') {
    @for $i from 1 through 12 {
      &.is-#{$i}-fullhd {
        width: percentage($i / 12);
      }
    }
  }
}

.shapla-columns {
  margin: (-$column-gap / 2);

  &:not(:last-child) {
    margin-bottom: calc(1.5rem - #{$column-gap / 2});
  }

  &.is-centered {
    justify-content: center;
  }

  &.is-gapless {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    & > .shapla-column {
      margin: 0;
      padding: 0;
    }
  }

  &.is-mobile {
    display: flex;
  }

  &.is-multiline {
    flex-wrap: wrap;
  }

  &.is-vcentered {
    align-items: center;
  }

  @include media('tablet') {
    &:not(.is-desktop) {
      display: flex;
    }
  }

  @include media('desktop') {
    &.is-desktop {
      display: flex;
    }
  }
}

.shapla-columns.is-variable {
  --shapla-column-gap: 0.75rem;
  margin-left: calc(-1 * var(--shapla-column-gap));
  margin-right: calc(-1 * var(--shapla-column-gap));
  margin-top: calc(-1 * var(--shapla-column-gap));

  &:last-child {
    margin-bottom: calc(-1 * var(--shapla-column-gap));
  }

  &:not(:last-child) {
    margin-bottom: calc(1.5rem - var(--shapla-column-gap));
  }

  .shapla-column {
    padding: var(--shapla-column-gap);
  }
}
