@import "~shapla-color-system/src/variables";

.shapla-text-field {
	box-sizing: border-box;
	color: $text-secondary;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	text-align: left;

	&__control {
		.icon {
			align-items: center;
			display: inline-flex;
			justify-content: center;
			height: 1.5rem;
			width: 1.5rem;

			svg.icon-success {
				fill: $success;
			}

			svg.icon-error {
				fill: $error;
			}
		}

		&.has-icons-left .icon,
		&.has-icons-right .icon {
			color: #dbdbdb;
			height: calc(1.5em + 1.5rem);
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 2.5em;
			z-index: 4;
		}

		&.has-icons-right .icon.is-right {
			right: 0;
		}
	}
}

.shapla-text-field__input,
.shapla-text-field__textarea {
	text-align: left;
	text-transform: none;
	display: block;
	width: 100%;
	height: calc(1.5em + 1.5rem);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $text-primary;
	background-color: #fff;
	background-clip: padding-box;
	border: .0625rem solid rgba(0, 14, 16, 0.12);
	border-radius: .25rem;
	box-shadow: 0 0 0 transparent;
	transition: border-color .15s ease-out, color .15s ease-out, box-shadow .15s ease-out;
	padding: 1rem 1rem 0 !important;

	&:focus {
		color: rgba(0, 14, 16, .68);
		background-color: #fff;
		border-color: $primary;
		outline: 0;
		box-shadow: 0 0 0 transparent, 0 .0625rem .1875rem rgba(0, 14, 16, .06);
	}

	&.is-invalid {
		border-color: $error;
		padding-right: 2.5em;
	}

	&.is-valid {
		border-color: $success;
		padding-right: 2.5em;
	}
}

.shapla-text-field__textarea {
	max-width: 100%;
	min-width: 100%;
	resize: vertical;

	&[rows] {
		height: auto;
	}

	&:not([rows]) {
		max-height: 40em;
		min-height: 8em;
	}
}

.shapla-text-field__label {
	cursor: text;
	position: absolute;
	top: 14px;
	left: 1rem;
	font-size: 1rem;
	text-transform: none;
	transition: all .1s ease-out;
	margin: auto;
	color: $text-secondary;
	white-space: nowrap;
	pointer-events: none;
	text-overflow: ellipsis;
	line-height: 1.2;
}

.shapla-text-field__input.has-value + label,
.shapla-text-field__input:focus + label,
.shapla-text-field__textarea.has-value + label,
.shapla-text-field__textarea:focus + label {
	font-size: .7rem;
	top: 4px;
}

.shapla-text-field__help-text {
	display: block;
	width: 100%;
	margin-top: .25rem;
	font-size: .875rem;
	line-height: 1.2;
	color: $text-hint;

	&.is-invalid {
		color: $error;
	}
}