@import "~shapla-color-system/src/variables";

// https://www.floraqueen.com/sending-flowers/lily-alstroemeria-roses-pinecones
.shapla-text-field {
	font-size: 1rem;

	&__control {
		position: relative;
	}

	&__input {
		border: 1px solid $text-secondary;
		border-radius: 4px;
		height: 2.5em;
		margin: 0;
		padding: 0;
		width: 100%;

		&:focus {
			outline: none;
			box-shadow: none !important;
		}
	}

	&__label {
		position: absolute;
		top: .75em;
		left: 1rem;
	}

	&__validation {
	}

	&__help-text {
	}
}