<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>button demo</title>
  <link rel="stylesheet" href="../dist/style.css">
</head>
<body>
<div id="app">
  <div>
    <h2>Default Icon</h2>
    <delete-icon></delete-icon>

    <h2>Small Icon</h2>
    <delete-icon small></delete-icon>

    <h2>Medium Icon</h2>
    <delete-icon medium></delete-icon>

    <h2>Large Icon</h2>
    <delete-icon large></delete-icon>

    <h2>Fixed Icon</h2>
    <delete-icon fixed></delete-icon>
  </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/delete-icon.umd.js"></script>
<script>
  new Vue({el: '#app'});
</script>
</body>
</html>
