<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>status demo</title>
    <link rel="stylesheet" href="../dist/status-list.css">
</head>
<body>
<div id="app">
    <status-list :statuses="statuses" @change="handleStatusChange"></status-list>

    <status-list :statuses="statuses" @change="handleStatusChange" type="vertical"></status-list>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/status-list.umd.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            statuses: [
                {key: 'all', active: true, label: 'All', count: 10},
                {key: 'publish', active: false, label: 'publish', count: 10},
                {key: 'trash', active: false, label: 'Trash', count: 2},
            ],
        },
        methods: {
            handleStatusChange: function handleStatusChange(status) {
                this.statuses.forEach(_status => {
                    _status.active = _status.key === status.key;
                });
            }
        }
    });
</script>
</body>
</html>