.shapla-button {
  --shapla-button-color: #f1f1f1;
  --shapla-button-color-dark: #dddddd;
  --shapla-button-on-color: var(--shapla-text-primary, rgba(0, 0, 0, 0.87));
  user-select: none;
  appearance: none;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  justify-content: center;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--shapla-button-color);
  border-color: transparent;
  color: var(--shapla-button-on-color);
}

.shapla-button:active, .shapla-button:focus {
  outline: none;
}

.shapla-button:focus {
  box-shadow: 0 0 0 1px transparent, 0 0 0 3px var(--shapla-button-color-alpha, rgba(0, 0, 0, 0.25));
}

.shapla-button strong {
  color: currentColor;
}

.shapla-button svg {
  fill: currentColor;
}

.shapla-button[disabled], fieldset[disabled] .shapla-button {
  cursor: not-allowed;
  opacity: 0.5;
}

.shapla-button.is-fullwidth {
  display: flex;
  width: 100%;
}

.shapla-button.is-small {
  border-radius: 2px;
  font-size: 0.75rem;
}

.shapla-button.is-normal {
  font-size: 1rem;
}

.shapla-button.is-medium {
  font-size: 1.25rem;
}

.shapla-button.is-large {
  font-size: 1.5rem;
}

.shapla-button.is-rounded {
  border-radius: 290486px;
  padding-left: calc(1em + .25em);
  padding-right: calc(1em + .25em);
}

.shapla-button.is-fab {
  border-radius: 50%;
  height: 2.5em;
  min-width: 2.5em;
  width: 2.5em;
}

.shapla-button.is-primary {
  --shapla-button-color: var(--shapla-primary, #00d1b2);
  --shapla-button-color-dark: var(--shapla-primary-variant, #00b89c);
  --shapla-button-color-alpha: var(--shapla-primary-alpha, rgba(0, 209, 178, 0.25));
  --shapla-button-on-color: var(--shapla-on-primary, #fff);
}

.shapla-button.is-secondary {
  --shapla-button-color: var(--shapla-secondary, #9c27b0);
  --shapla-button-color-dark: var(--shapla-secondary-variant, #89229b);
  --shapla-button-color-alpha: var(--shapla-secondary-alpha, rgba(156, 39, 176, 0.25));
  --shapla-button-on-color: var(--shapla-on-secondary, #fff);
}

.shapla-button.is-success {
  --shapla-button-color: var(--shapla-success, #48c774);
  --shapla-button-color-dark: var(--shapla-success-variant, #3abc67);
  --shapla-button-color-alpha: var(--shapla-success-alpha, rgba(72, 199, 116, 0.25));
  --shapla-button-on-color: var(--shapla-on-success, #fff);
}

.shapla-button.is-warning {
  --shapla-button-color: var(--shapla-warning, #ffdd57);
  --shapla-button-color-dark: var(--shapla-warning-variant, #ffd83e);
  --shapla-button-color-alpha: var(--shapla-warning-alpha, rgba(255, 221, 87, 0.25));
  --shapla-button-on-color: var(--shapla-on-warning, #000);
}

.shapla-button.is-error {
  --shapla-button-color: var(--shapla-error, #f14668);
  --shapla-button-color-dark: var(--shapla-error-variant, #ef2e55);
  --shapla-button-color-alpha: var(--shapla-error-alpha, rgba(241, 70, 104, 0.25));
  --shapla-button-on-color: var(--shapla-on-error, #fff);
}

.shapla-button:not(:disabled):hover, .shapla-button:not(:disabled):active {
  background-color: var(--shapla-button-color-dark);
  border-color: transparent;
  color: var(--shapla-button-on-color);
}

.shapla-button.is-outline {
  background-color: transparent;
  border-color: var(--shapla-button-color);
  color: var(--shapla-button-color);
}

.shapla-button.is-outline:not(:disabled):hover {
  background-color: var(--shapla-button-color);
  border-color: var(--shapla-button-color);
  color: var(--shapla-button-on-color);
}

.shapla-button.is-outline:not(.is-primary):not(.is-secondary):not(.is-success):not(.is-error):not(.is-warning) {
  background-color: transparent;
  border-color: var(--shapla-button-color);
  color: var(--shapla-button-on-color);
}

.shapla-button.is-outline:not(.is-primary):not(.is-secondary):not(.is-success):not(.is-error):not(.is-warning):not(:disabled):hover {
  background-color: transparent;
  border-color: var(--shapla-button-color-dark);
  color: var(--shapla-button-on-color);
}

.shapla-button.has-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shapla-button.has-shadow:not(:disabled):hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.shapla-button.has-shadow:not(:disabled):focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
