<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>radio demo</title>
    <link rel="stylesheet" href="../dist/components.css">
</head>
<body>
<div id="app">
    <div>
        <shapla-radio
                v-for="_option in testOptions"
                :key="_option.value"
                v-model="radioTest"
                :label="_option.label"
                :value="_option.value"
        ></shapla-radio>

        <pre><code>{{radioTest}}</code></pre>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/components.umd.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            radioTest: 'two',
            testOptions: [
                {label: 'One', value: 'one'},
                {label: 'Two', value: 'two'},
                {label: 'Three', value: 'three'},
            ],
        }
    });
</script>
</body>
</html>