@import "accessibility";

.shapla-data-table__select {
	width: 16px;
}

.shapla-data-table-container {

	.shapla-data-table-nav-bottom,
	.shapla-data-table-nav-top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 100%;

		&__left {
			display: flex;
			flex-wrap: wrap;
		}

		.bulk-action-selector,
		&__action,
		&__filters {
			display: flex;
			flex-wrap: wrap;

			> * {
				margin-right: 5px;
			}
		}

		select {
			line-height: 1.2;
			padding: 3px 10px;
		}

		select, button {
			margin-bottom: 5px;
		}
	}

	.shapla-data-table-nav-top {
		align-items: flex-end;
	}

	.shapla-data-table-nav-bottom {
		align-items: flex-start;
	}
}
