$modal-z: 100000 !default;

$modal-background-background-color: rgba(#000, 0.86) !default;

$modal-content-width: 640px !default;
$modal-content-width-small: 320px !default;
$modal-content-width-large: 960px !default;
$modal-content-margin-mobile: 20px !default;
$modal-content-spacing-mobile: 160px !default;
$modal-content-spacing-tablet: 40px !default;

$modal-close-dimensions: 40px !default;
$modal-close-right: 20px !default;
$modal-close-top: 20px !default;

$modal-card-spacing: 40px !default$modal-card-head-background-color: hsl(0, 0%, 96%) !default;
$modal-card-head-border-bottom: 1px solid hsl(0, 0%, 86%) !default;
$modal-card-head-padding: 20px !default;
$modal-card-head-radius: 6px !default;

$modal-card-title-color: hsl(0, 0%, 21%) !default;
$modal-card-title-line-height: 1 !default;
$modal-card-title-size: 1.5rem !default;

$modal-card-foot-radius: 6px !default;
$modal-card-foot-border-top: 1px solid hsl(0, 0%, 86%) !default;

$modal-card-body-background-color: hsl(0, 0%, 100%) !default;
$modal-card-body-padding: 20px !default;

.shapla-modal,
.shapla-modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.shapla-modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: $modal-z;

  &-background {
    background-color: $modal-background-background-color;
  }

  .shapla-delete-icon {
    &.is-fixed {
      background: none;
      position: fixed;
      right: $modal-close-right;
      top: $modal-close-top;
    }
  }

  &-content,
  &-card {
    margin: 0 $modal-content-margin-mobile;
    max-height: calc(100vh - #{$modal-content-spacing-mobile});
    overflow: auto;
    position: relative;
    width: calc(100% - #{$modal-content-margin-mobile * 2});

    &.is-small {
      width: $modal-content-width-small;
    }

    &.is-full {
      height: calc(100vh - #{$modal-content-margin-mobile * 2});
      width: calc(100vw - #{$modal-content-margin-mobile * 2});
    }

    @media screen and (min-width: 769px), print {
      margin: 0 auto;
      max-height: calc(100vh - #{$modal-content-spacing-tablet});
      &:not(.is-small):not(.is-full):not(.is-large) {
        width: $modal-content-width;
      }
    }

    @media screen and (min-width: 1025px) {
      &.is-large {
        width: $modal-content-width-large;
      }
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - #{$modal-card-spacing});
    overflow: hidden;
    -ms-overflow-y: visible;
  }

  &-card-head,
  &-card-foot {
    align-items: center;
    background-color: $modal-card-head-background-color;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: $modal-card-head-padding;
    position: relative;
  }

  &-card-head {
    border-bottom: $modal-card-head-border-bottom;
    border-top-left-radius: $modal-card-head-radius;
    border-top-right-radius: $modal-card-head-radius;
  }

  &-card-title {
    color: $modal-card-title-color;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: $modal-card-title-size;
    line-height: $modal-card-title-line-height;
    margin: 0;
  }

  &-card-foot {
    border-bottom-left-radius: $modal-card-foot-radius;
    border-bottom-right-radius: $modal-card-foot-radius;
    border-top: $modal-card-foot-border-top;

    &.is-pulled-right {
      justify-content: flex-end;
    }

    .shapla-button {
      &:not(:last-child) {
        margin-right: 10px
      }
    }
  }

  &-card-body {
    background-color: $modal-card-body-background-color;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: $modal-card-body-padding;
  }
}
