$dimensions: (16, 24, 32, 48, 64, 96, 128) !default;

@each $dimensions in $dimensions {
  .h-#{$dimensions} {
    height: #{$dimensions}px;
  }
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}
