<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>modal demo</title>
  <link rel="stylesheet" href="https://unpkg.com/shapla-delete@1.0.2/dist/delete-icon.css">
  <link rel="stylesheet" href="../dist/style.css">
  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <button @click="openBoxModal = true">Open Box Modal</button>
  <button @click="openCardModal = true">Open Card Modal</button>
  <button @click="openSmallCardModal = true">Open Small Card Modal</button>
  <button @click="openLargeCardModal = true">Open Large Card Modal</button>
  <button @click="openFullCardModal = true">Open Full Card Modal</button>

  <modal :active="openBoxModal" @close="openBoxModal = false" type="box">
    Box modal only have white background, border radius and 1rem padding
  </modal>
  <modal :active="openCardModal" @close="openCardModal = false" title="Modal Demo 1">
    Medium width modal.
  </modal>
  <modal :active="openSmallCardModal" @close="openSmallCardModal = false" content-size="small"
         title="Modal Demo 1">
    Small width modal.
  </modal>
  <modal :active="openLargeCardModal" @close="openLargeCardModal = false" content-size="large"
         title="Modal Demo 1">
    Large width modal.
  </modal>
  <modal :active="openFullCardModal" @close="openFullCardModal = false" content-size="full" title="Modal Demo 1">
    Full width modal.
  </modal>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/shapla-delete"></script>
<script src="../dist/modal.umd.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      openBoxModal: false,
      openCardModal: false,
      openSmallCardModal: false,
      openLargeCardModal: false,
      openFullCardModal: false,
    }
  });
</script>
</body>
</html>
