$primary: var(--shapla-primary, #00d1b2);
$primary-variant: var(--shapla-primary-variant, #00b899);
$on-primary: var(--shapla-on-primary, #ffffff);

$secondary: var(--shapla-secondary, #9c27b0);
$secondary-variant: var(--shapla-secondary-variant, #830e97);
$on-secondary: var(--shapla-on-secondary, #ffffff);

$surface: var(--shapla-surface, #ffffff);
$on-surface: var(--shapla-on-surface, #000000);

$error: var(--shapla-error, #b00020);
$on-error: var(--shapla-on-error, #ffffff);

$text-primary: var(--shapla-text-primary, rgba(#000, .87));
$text-secondary: var(--shapla-text-secondary, rgba(#000, .54));
$text-icon: var(--shapla-text-icon, rgba(#000, .38));
