@import "colors";

$checkbox-label-font-size: 16px !default;
$checkbox-label-height: 24px !default;
$checkbox-button-size: 16px !default;
$checkbox-inner-margin: 2px !default;
$checkbox-padding: 8px !default;
$checkbox-top-offset: ($checkbox-label-height - $checkbox-button-size - $checkbox-inner-margin) / 2;
$checkbox-ripple-size: $checkbox-label-height * 1.5;

$color-primary: #f58730 !default; //$palette-indigo-500 !default;
$color-black: #000;

$checkbox-color: $primary !default;
$checkbox-off-color: rgba($color-black, 0.54) !default;
$checkbox-disabled-color: rgba($color-black, 0.26) !default;
$checkbox-focus-color: rgba($color-primary, 0.26) !default;
