@import "variables";

@each $index, $size in $sizes {
  .p-#{$index} {
    padding: $size;
  }
  .px-#{$index} {
    padding-left: $size;
    padding-right: $size;
  }
  .py-#{$index} {
    padding-top: $size;
    padding-bottom: $size;
  }
  .pt-#{$index} {
    padding-top: $size;
  }
  .pr-#{$index} {
    padding-right: $size;
  }
  .pb-#{$index} {
    padding-bottom: $size;
  }
  .pl-#{$index} {
    padding-left: $size;
  }
}
